@font-face{
    font-family: 'vainilla';
    src: url(/Black_Page/Resources/fonts/Caramel\ and\ Vanilla.ttf);
}
body{
    background-color: black;
}
#navbar_hide{
    background-color: rgb(0, 0, 0);
}
#arreglo_padding{
    padding: 0;
}
#navbar_font{
    font-family: vainilla;
    color: aliceblue;
    font-size: 80px;
    opacity: 80%;
}
#toggler_img{
    background-image: url(/Fresh_Tickets/Resources/img/toggler/clipart365828.png);
    opacity: 80%;
}
#button_nav{
    box-shadow: 0px 0px 0px 0px rgb(0, 0, 0);
    transition: .3s;
}
#button_nav:hover{
    box-shadow: 1px 1px 1px 1px rgb(255, 255, 255);
}
#background_hide_nav{
    background-color: black;
}
#font_hide_tittle_nav{
    font-family: vainilla;
    color: aliceblue;
    font-size: 40px;
    opacity: 20%;
}
#font_link_hide_nav{
    color: aliceblue;
}
#img_backg{
    margin-bottom: 0%;
}